<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many improvement_plans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Improvement Plans
      </li>

      <% @user.improvement_plans.each do |improvement_plan| %>
        <li class="list-group-item">
          <a href="/improvement_plans/<%= improvement_plan.id %>">
            <%= improvement_plan.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/improvement_plans/<%= improvement_plan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == improvement_plan.user %>
              <a href="/improvement_plans/<%= improvement_plan.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_improvement_plan/<%= improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
