<div class="page-header">
  <h3>Improvement Plan #<%= @improvement_plan.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @improvement_plan.user_id %></dd>

      <dt>State</dt>
      <dd><%= @improvement_plan.state %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/improvement_plans" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @improvement_plan.user %>
        <a href="/improvement_plans/<%= @improvement_plan.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_improvement_plan/<%= @improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Improvement plan has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @improvement_plan.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.improvement_plan_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Improvement plan has many goals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Goals
      </li>

      <% @improvement_plan.goals.each do |goal| %>
        <li class="list-group-item">
          <a href="/goals/<%= goal.id %>">
            <%= goal.improvement_plan_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/goals/<%= goal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/goals/<%= goal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_goal/<%= goal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Improvement plan has many coaches -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Coaches
      </li>

      <% @improvement_plan.coaches.each do |coach| %>
        <li class="list-group-item">
          <a href="/coaches/<%= coach.id %>">
            <%= coach.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/coaches/<%= coach.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/coaches/<%= coach.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_coach/<%= coach.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
