<div class="page-header">
  <h3>Improvement Plan #<%= @improvement_plan.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @improvement_plan.user_id %></dd>

      <dt>State</dt>
      <dd><%= @improvement_plan.state %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/improvement_plans" class="btn btn-primary">
        Back
      </a>
      <a href="/improvement_plans/<%= @improvement_plan.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_improvement_plan/<%= @improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
