<div class="page-header">
  <h3>Coach #<%= @coach.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @coach.user_id %></dd>

      <dt>Improvement plan</dt>
      <dd><%= @coach.improvement_plan_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/coaches" class="btn btn-primary">
        Back
      </a>
      <a href="/coaches/<%= @coach.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_coach/<%= @coach.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
