<!-- Validation failure messages -->
<% if @goal.errors.any? %>
  <% @goal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Goal #<%= @goal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_goal/<%= @goal.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for improvement_plan_id -->
      <div class="form-group">
        <label for="improvement_plan_id" class="control-label">
          Improvement plan
        </label>

        <input type="text" id="improvement_plan_id" name="improvement_plan_id" placeholder="Improvement plan" class="form-control" value="<%= @goal.improvement_plan_id %>">
      </div>

      <button class="btn btn-warning">
        Update Goal
      </button>
      or
      <a href="/goals/<%= @goal.id %>">Cancel</a>
    </form>
  </div>
</div>
