<div class="page-header">
  <h3>Goal #<%= @goal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Improvement plan</dt>
      <dd>
        <% if @goal.improvement_plan.present? %>
          <a href="/improvement_plans/<%= @goal.improvement_plan_id %>">
            <%= @goal.improvement_plan.user_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/goals" class="btn btn-primary">
        Back
      </a>
      <a href="/goals/<%= @goal.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_goal/<%= @goal.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Goal has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @goal.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.improvement_plan_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for improvement_plan_id -->
      <div class="form-group">
        <label for="improvement_plan_id" class="control-label">
          Improvement plan
        </label>

        <%= select_tag(:improvement_plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for goal_id -->
      <input type="hidden" name="goal_id" value="<%= @goal.id %>">

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Goal has many action_steps -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Action Steps
      </li>

      <% @goal.action_steps.each do |action_step| %>
        <li class="list-group-item">
          <a href="/action_steps/<%= action_step.id %>">
            <%= action_step.goal_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/action_steps/<%= action_step.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/action_steps/<%= action_step.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_action_step/<%= action_step.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_action_step" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for goal_id -->
      <input type="hidden" name="goal_id" value="<%= @goal.id %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for target_date -->
      <div class="form-group">
        <label for="target_date" class="control-label">
          Target date
        </label>

        <input type="text" id="target_date" name="target_date" placeholder="Target date" class="form-control" value="">
      </div>

      <!-- Label and input for resources -->
      <div class="form-group">
        <label for="resources" class="control-label">
          Resources
        </label>

        <input type="text" id="resources" name="resources" placeholder="Resources" class="form-control" value="">
      </div>

      <!-- Label and input for specs -->
      <div class="form-group">
        <label for="specs" class="control-label">
          Specs
        </label>

        <input type="text" id="specs" name="specs" placeholder="Specs" class="form-control" value="">
      </div>

      <!-- Label and input for winning -->
      <div class="form-group">
        <label for="winning" class="control-label">
          Winning
        </label>

        <input type="text" id="winning" name="winning" placeholder="Winning" class="form-control" value="">
      </div>

      <!-- Label and input for lead -->
      <div class="form-group">
        <label for="lead" class="control-label">
          Lead
        </label>

        <input type="text" id="lead" name="lead" placeholder="Lead" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Action Step
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
